go

USE [CpsWarehouse]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

drop PROCEDURE if exists [cps_orders].[rpt_Radiology] 

go
create procedure [cps_orders].[rpt_Radiology] 
(
	@StartDate date,
	@EndDate date,
	@Facility nvarchar(25)
)
as 
begin


	
declare @StartDate1 date = @StartDate,
	@EndDate1 date = @EndDate,
	@Facility1 nvarchar(25) = @Facility


select r.*
from [CpsWarehouse].[cps_orders].[rpt_view_Radiology] r
where r.OrderDate >= @StartDate1
	and r.OrderDate <= @EndDate1
	and convert(nvarchar,r.FacilityID) like case when @Facility1 = 'All' then '%' else @Facility1 end
	and r.CurrentStatus in ('S', 'H')

end
GO

